/* Локальне підключення шрифтів */
@import url("fonts.css");

/* Скидання стилів */
@import url("reset.css");

body {
	font-family: "ProximaNova";
	background-color: #f8f8f8;
	color: #2b2929;
}
.header {
}
.header__container {
	max-width: 1290px;
	margin: 0 auto;
}
/* ====================================== */
.page {
}
.page__container {
	max-width: 1290px;
	margin: 0 auto;
}
