/* Локальне підключення шрифтів */
@import url("fonts.css");

/* Скидання стилів */
@import url("reset.css");

body {
	font-family: "ProximaNova", sans-serif;
	background-color: #f8f8f8;
	color: #2b2929;
}
.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
[class*="__container"] {
	max-width: 1320px;
	margin: 0 auto;
	padding: 0 15px;
}
/* ====================================== */
.text--light {
	font-size: 13px;
	line-height: 1.69; /* 22/13 */
	font-weight: 300;
	color: #535353;
}
/* ====================================== */
.header {
	/* position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50; */
}
.header__top {
}
.header__middle {
	background-color: #fff;
}
.header__middle:not(:last-child) {
	border-bottom: 2px solid #f8f8f8;
}
.header__bottom {
	background-color: #fff;
}
/* ====================================== */
.top-header {
	padding: 15px 0;
}
.top-header__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 30px;
	row-gap: 5px;
	line-height: 1.875; /* 30/16 */
	flex-wrap: wrap;
}
.top-header__menu {
}
.menu-top-header {
}
.menu-top-header__list {
	display: flex;
	column-gap: 30px;
	row-gap: 5px;
	flex-wrap: wrap;
}
.menu-top-header__item {
}
.menu-top-header__link {
	transition: all 0.3s;
}
@media (any-hover: hover) {
	.menu-top-header__link:hover {
		color: #ffbc57;
	}
}
.top-header__content {
	display: flex;
	column-gap: 30px;
	row-gap: 10px;
	align-items: center;
}
.top-header__socials {
}
.socials {
	display: flex;
	column-gap: 20px;
	row-gap: 10px;
	align-items: center;
	flex-wrap: wrap;
}
.socials__label {
}
.socials__icons {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
}
.socials__icon {
	transition: all 0.3s;
}
@media (any-hover: hover) {
	.socials__icon:hover {
		transform: scale(1.1);
		opacity: 0.8;
	}
}
.top-header__language {
}
.language__select {
	background-color: inherit;
	text-transform: uppercase;
	font-size: 19px;
	line-height: 1.26; /* 24/19 */
}
/* ====================================== */
@media (max-width: 479.98px) {
	.menu-top-header__list {
		column-gap: 15px;
		row-gap: 5px;
	}
}
@media (max-width: 422.98px) {
	.top-header__content {
		column-gap: 15px;
		width: 100%;
		justify-content: space-between;
	}
}
/* ========================= */
.middle-header {
	padding: 25px 0;
}
.middle-header__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 30px;
	row-gap: 10px;
}
.middle-header__logo {
	flex: 0 0 250px;
	margin-right: 5px;
}
.middle-header__logo img {
	width: 100%;
}
.middle-header__catalog {
	padding: 11px 20px;
	border-radius: 8px;
	background-color: #ffbc57;
	transition: background-color 0.3s;
}
.middle-header__catalog span {
	font-size: 19px;
	font-weight: 600;
	display: flex;
	align-items: center;
	column-gap: 10px;
	color: #fff;
}
.middle-header__catalog span::before {
	content: "";
	flex: 0 0 auto;
	width: 24px;
	height: 24px;
	background: url("../img/header/button-icon.svg") 0 0 no-repeat;
}
@media (any-hover: hover) {
	.middle-header__catalog:hover {
		background-color: #bf8329;
	}
}
.middle-header__search {
	flex: 1 1 auto;
}
.search {
	position: relative;
}
.search__input {
	color: #b1b1b1;
	border: 1px solid;
	border-radius: 8px;
	min-width: 200px;
	padding: 10px 53px 10px 15px;
	line-height: 1.875; /* 30/16 */
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
}
.search__input::-webkit-search-decoration,
.search__input::-webkit-search-cancel-button {
	display: none;
}
.search__input:focus::placeholder {
	opacity: 0;
}
.search__button {
	position: absolute;
	top: calc(50% - 11.5px);
	right: 15px;
}
.middle-header__phone {
}
.phone-header {
	display: flex;
	column-gap: 10px;
	align-items: center;
}
.phone-header__icon {
	border-radius: 50%;
	background-color: #f8f8f8;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 0 0 auto;
	width: 50px;
	height: 50px;
	transition: all 0.3s;
}
@media (any-hover: hover) {
	.phone-header__icon:hover {
		transform: scale(1.1);
	}
}
.phone-header__content {
	position: relative;
	padding-right: 27px;
	min-width: 170px;
}
.phone-header__content::after {
	content: "";
	position: absolute;
	transform: translate(0px, -50%);
	top: 50%;
	right: 0;
	width: 10.5px;
	height: 6.25px;
	background: url("../img/header/arrow-down.svg") center no-repeat;
}
@media (any-hover: hover) {
	.phone-header__content:hover .phone-header__items {
		top: 100%;
		opacity: 1;
		pointer-events: all;
	}
	.phone-header__content:hover .phone-header__content::after {
		/* transform: translate(0px, -50%), rotate(180deg); */
	}
}
.phone-header__text {
}
.phone-header__number {
	font-size: 20px;
	line-height: 1.4; /* 28/20 */
	font-weight: 600;
	transition: all 0.3s;
}
@media (any-hover: hover) {
	.phone-header__number:hover {
		color: #ffbc57;
	}
}
.phone-header__items {
	position: absolute;
	top: 110%;
	left: 0;
	padding-top: 5px;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s;
}
.phone-header__list {
	background-color: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.06);
	padding: 15px;
	border-radius: 8px;
}
.phone-header__item:not(:last-child) {
	margin-bottom: 10px;
}
.phone-header__link {
	font-size: 18px;
	line-height: 1.2; /* 28/20 */
	font-weight: 600;
	transition: all 0.3s;
}
@media (any-hover: hover) {
	.phone-header__link:hover {
		color: #ffbc57;
	}
}
.middle-header__icons {
	display: flex;
	column-gap: 20px;
	row-gap: 5px;
}
.middle-header__icon {
	border: 2px solid #ffbc57;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 0 0 auto;
	width: 50px;
	height: 50px;
}
.middle-header__icon img {
	transition: all 0.3s;
}
.middle-header__icon img:hover {
	transform: scale(1.1);
}
@media (max-width: 1309.98px) {
	.middle-header__container {
		column-gap: 20px;
	}
}
@media (max-width: 1099.98px) {
	.middle-header__container {
		flex-wrap: wrap;
		row-gap: 25px;
	}
	.middle-header__search {
		order: 4;
	}
}
@media (max-width: 449.98px) {
	.middle-header__logo {
		flex: 0 0 200px;
		margin-right: 0px;
	}
	.middle-header {
		column-gap: 15px;
	}
}
@media (max-width: 399.98px) {
	.phone-header__content {
		display: none;
	}
	.middle-header__catalog {
		order: 3;
	}
}
/* ============================= */
.bottom-header {
	padding: 18px 0;
}
.bottom-header__container {
}
.bottom-header__menu {
}
.menu-bottom-header {
	display: flex;
	justify-content: space-between;
	column-gap: 50px;
	row-gap: 10px;
}
.menu-bottom-header__list {
	display: flex;
	column-gap: 40px;
	row-gap: 10px;
	flex-wrap: wrap;
}
.menu-bottom-header__item {
	display: inline-flex;
	gap: 10px;
	align-items: center;
}
.menu-bottom-header__item img {
	width: 20px;
	height: 20px;
}
.menu-bottom-header__link {
	font-size: 19px;
	line-height: 1.26; /* 24/19 */
	font-weight: 600;
	transition: all 0.3s;
}
@media (any-hover: hover) {
	.menu-bottom-header__link:hover {
		color: #ffbc57;
	}
}
@media (max-width: 998.98px) {
	.menu-bottom-header {
		column-gap: 25px;
	}
}
@media (max-width: 469.98px) {
	.menu-bottom-header__list {
		column-gap: 25px;
	}
}
@media (max-width: 424.98px) {
	.menu-bottom-header {
		flex-direction: column;
		row-gap: 30px;
	}
	.menu-bottom-header__link {
		font-size: 21px;
	}
}
@media (min-width: 424.98px) {
	.menu-bottom-header__list:last-child {
		justify-content: flex-end;
	}
}
